
<!DOCTYPE html>
<html>
<head>
	<title>个人中心</title>
	<meta charset="utf-8">
	<link rel="icon" href="../fonts/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="../fonts/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_1442835366_2342465.css">
   	<link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/login.css">
</head>

<div class="navbar navbar-fixed">
	<div class="toolbar">
		<div class="toolbar-widget" id="menu">
			<a href="javascript:" class="btn btn-icon"><i class="iconfont icon-menu"></i></a>
		</div>
		<div class="toolbar-title"><a href="/">BookStore</a></div>
		<div class="toolbar-widget">
			<a href="./regist.html" class="btn btn-default">注册</a>
		</div>
		<div class="toolbar-widget">
			<a href="./login.html" class="btn btn-default">登录</a>
		</div>
	</div>

	<nav class="sidebar" id="sidebar">
		<ul class="sidemenu" id="sidemenu">
			<li><a href="../index.html"><i class="iconfont icon-home"></i>首页</a></li>
			<li><a href=""><i class="iconfont icon-buy"></i>购买</a></li>
			<li><a href="./regist.html"><i class="iconfont icon-reg"></i>注册</a></li>
			<li><a href="./login.html"><i class="iconfont icon-login"></i>登录</a></li>
			<li class="divider"></li>
			<li><a href=""><i class="iconfont icon-help"></i>帮助</a></li>
			<li><a href=""><i class="iconfont icon-contact"></i>联系</a></li>
			<li class="divider"></li>
			<li>Copyright © 2015</li>
		</ul>
	</nav>
</div>
<div class="panelcontact">
<article class="home-post">
<h1>BookStore 服务条款</h1>

<p>使用 BookStore 服务，表示你同意以下服务条款。BookStore 保留未经通知随时更新和改变这些服务条款的权利。违反下列任何条款，可能会导致你的帐户被终止。</p>

<h2>帐户条款</h2>

<ol>
<li>你有责任维护你的帐户和密码的安全性。</li>
<li>你需要为自己在网站上发布的内容负责。</li>
<li>你需要提供有效邮件地址，和其他注册过程需要的信息。</li>
<li>一个帐户仅限一人使用。</li>
<li>不允许使用机器人或其他自动程序注册帐户。</li>
<li>不得发布任何违反国家法律法规的内容（包括而不仅限于版权法）。</li>
<li>不得滥用服务器资源。</li>
</ol>

<h2>卖家条款</h2>

<ol>
<li>只能出售自己拥有版权或得到版权所有者明确授权的作品。</li>
<li>不得出售违反国家法律法规的内容。</li>
<li>不得出售违反伦理道德或其他容易引起争议的内容。</li>
<li>不得以购买自己的作品等方式伪造销售数据。</li>
<li>理解网站不为卖出的作品提供数字签名（DRM）等技术保护措施。</li>
</ol>

<h2>买家条款</h2>

<ol>
<li>必须在卖家许可的范围内使用买到的作品，未经许可不得复制、转卖、演绎作品。</li>
<li>理解网站将买家的邮件地址作为订单信息的一部分提供给卖家。</li>
</ol>

<h2>退款条款</h2>

<ol>
<li>订单未完成前，买家可以联系客服申请退款。</li>
<li>不得滥用退款政策。</li>
<li>退款后买家必须删除已下载的作品。</li>
</ol>

<h2>其他</h2>

<p>最终解释权归 BookStore 所有。</p>

<h2>附录</h2>

<p>联系我们，请发送邮件至 <a href="mailto:hore@flyus.me" class="contact">反馈邮箱</a> 。</p>
</article>
</div>

<script type="text/javascript" src="../js/widget.js"></script>
<script type="text/javascript">ga('create', 'UA-56329871-1', 'auto');
ga('send', 'pageview', {location: 'https://BookStore.io/terms'});
</script>
</body>
</html>