<!DOCTYPE html>
<html>
<head>
	<title>个人中心</title>
	<meta charset="utf-8">
	<link rel="icon" href="../fonts/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="../fonts/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_1442835366_2342465.css">
   	<link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/usercenter.css">
</head>
<body>
	<div class="navbar navbar-fixed">
		<div class="toolbar">
			<div class="toolbar-widget" id="menu">
				<a href="javascript:" class="btn btn-icon"><i class="iconfont icon-menu"></i></a>
			</div>
			<div class="toolbar-title"><a href="/">BookStore</a></div>
			<div class="toolbar-widget">
				<a href="./regist.html" class="btn btn-default">注册</a>
			</div>
			<div class="toolbar-widget">
				<a href="./login.html" class="btn btn-default">登录</a>
			</div>
		</div>

		<nav class="sidebar" id="sidebar">
			<ul class="sidemenu" id="sidemenu">
				<li><a href="../index.html"><i class="iconfont icon-home"></i>首页</a></li>
				<li><a href=""><i class="iconfont icon-buy"></i>购买</a></li>
				<li><a href="./regist.html"><i class="iconfont icon-reg"></i>注册</a></li>
				<li><a href="./login.html"><i class="iconfont icon-login"></i>登录</a></li>
				<li class="divider"></li>
				<li><a href=""><i class="iconfont icon-help"></i>帮助</a></li>
				<li><a href=""><i class="iconfont icon-contact"></i>联系</a></li>
				<li class="divider"></li>
				<li>Copyright © 2015</li>
			</ul>
		</nav>
	</div>
	<div class="managetab">
		<ul>
			<li id="userinfo" class="active"><span>个人资料</span></li>
			<li id="orderinfo"><span>订单信息</span></li>
			<li id="addrinfo"><span>地址信息</span></li>
		</ul>
	</div>
	<div class="infoshow" id="show">
		<!-- <form class="infoform">
			<fieldset>
				<label for="name">用户姓名</label>
				<input type="text" id="username" value="hore" placeholder="输入姓名" name="name">
			</fieldset>
			<fieldset>
				<label for="icon">用户头像</label>
				<input type="file" id="userIcon" class="upfile hide" name="icon">
				<img src="http://7xkfa4.com1.z0.glb.clouddn.com/icon.jpg" class="usericon">
			</fieldset>
			<fieldset>
				<label for="email">用户邮箱</label>
				<input type="email" name="email" id="mail" value="www.flyus.me" placeholder="输入邮件地址">
			</fieldset>
			<fieldset>
				<label for="currentpwd">当前密码</label>
				<input type="password" id="oldpwd" for="currentpwd" placeholder="输入当前密码">
				<label fro="futurepwd">新密码</label>
				<input type="password" id="newpwd" name="futurepwd" placeholder="输入新密码">
			</fieldset>

			<input type="submit" id="changeuserinfo">
		</form> -->
	</div>
	<script type="text/javascript" src="https://cn.avoscloud.com/scripts/lib/av-0.5.0.min.js"></script>
	<script type="text/javascript" src="../js/config.js"></script>
	<script type="text/javascript" src="../js/widget.js"></script>
	<script type="text/javascript" src="../js/formcheck.js"></script>
	<script type="text/javascript" src="../js/usercenter.js"></script>
</body>
</html>